.form-container{
    border: solid 1px var(--color-3);
    border-radius: 10px;
    /* background-color: #fff6ea; */
    padding: 2em ;
    color: var(--color-1);
    font-family: 'Roboto', sans-serif;
}
.toogle-group {
    width: 100%;
}
.form-footer, .form-label {
    color: var(--color-3);
}
.form-footer p {
    margin-bottom: 0;
    font-size: 16px;
}
.form-container h3 {
    font-size: 1.3em;
    color: var(--color-3);
    font-family: Antropos;
}

.btnCopy{
      padding: 4px 8px;
      font-size: 12px;
      text-align: center;
      border-radius: 4px;
      cursor: pointer;
    }
